<h2 class="section-title">{{ .titles.about }} R/Medicine 2020</h2>

<div style="border: 1px solid #fddd52; padding: 20px 20px 0px; margin-top: 20px; margin-bottom: 20px; background-color: #f4f4f4; border-radius: 4px; ">
<p itemprop="description">The goal of the R/Medicine conference is to encourage the adoption of
statistical modeling and reproducible data processing in clinical practice by promoting the use of
the R programming environment and ecosystem.</p>
</div>

<p>R is a free and open-source programming language for reproducible statistical computing, data
visualization, and application development. R is the gold standard in reproducible research in
academia and industry and has powerful capabilities to create highly-customizable interactive
analytic dashboards, as well as predictive models that employ machine learning, deep learning, and
artificial intelligence.</p>

<p>R/Medicine was formed through a collaborative effort of the R Consortium with academic and
industry partners including Yale University, Stanford University, the Mayo Clinic, and RStudio, Inc
(now RStudio, PBC). Presentations at R/Medicine conferences showcase how the R ecosystem is
currently leveraged in medical applications including clinical trial design and analysis,
personalized medicine, the development of machine learning models using  laboratory and patient
record data, and reproducible research.</p>

<p>The 2020 R/Medicine Conference will be held virtually as a large webinar, hosted on Eastern
Daylight Time from August 27 through August 29th. It will include two tracks of pre-conference
educational workshops: one foundational workshop, covering reproducible data analysis with a focus
on health care professionals who have no programming background and a second workshop on practical
machine learning with a focus on predicting outcomes from clinical data sets. The pre-conference
workshops  will be followed by two days of presentations from representatives of biostatistics, the
pharmaceutical industry, regulators, and the clinical laboratories.</p>


