<h2 class="section-title">{{ .titles.schedule }}</h2>

<p>The first COVID-19 Data Forum will have two parts, the main public webinar open to all and an invited workshop.
  We will evaluate our ability to scale the workshop to more people for future meetings.</p>

<h3>Upcoming event</h3>

<p>Please join us for our second public, virtual event, focused on <strong>efforts to improve
accessibility of patient-level data for
    COVID-19</strong>. <a href="https://stanford.zoom.us/webinar/register/WN_50bLGIAWS6qNjrwPFUpyvA">Register
    here.</a>
</p>

<h4>Beyond case counts: Making COVID-19 clinical data available and useful</h4>

<strong>August 13, 2020, 16:00 UTC, 9:00 PDT</strong>



<h3>Prior events</h3>


<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Time</th>
        <th class="schedule-slot">Slot</th>
        <th class="schedule-description">Description</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
        {{ if ne .presentation nil }}
          <tr>
            <td class="schedule-time">{{ .presentation.time }}</td>
            <td class="schedule-slot">
            {{ with .photo }}
              <span class="speaker-photo">
                <img class="photo" src="{{ . }}" alt="{{ $slot.name }}">
              </span>
            {{ end }}

              {{ .presentation.title }}
              <span class="speakers-company">{{ .company }}</span>
            </td>
            <td class="schedule-description">{{ .presentation.description }}</td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">{{ .name }}</td>
            <td class="schedule-description">-</td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>
